.scoreboard {
    position: absolute;
    z-index: 100;
    flex-direction: column;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 500;
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.1s ease-out;
    transform: scale( 1.05 );
    background-color: rgba( 10, 10, 10, 0.8 );

    &.open {
        opacity: 1;
       
        pointer-events: visible;
    }

    .color {
        height: 32px;
        width: 12px;
        bottom: 2px;
        margin-right: 6px;
    }

    .avatar {
        height: 32px;
        width: 32px;
        margin-right: 6px;
    }

    .name {
        flex-grow: 1;
    }

    .deaths, .kills, .ping, .rank {
        width: 90px;
        text-align: right;
    }

    .ping {
        opacity: 0.3;
        width: 50px;
    }

    .deaths {
        margin-right: 50px;
    }

    .admin {
        width: 100px;
        text-align: right;
    }

    .header {
        pointer-events: all;
        font-weight: 500;
        border-bottom: 3px solid #fc0;
        min-width: 30%;
        margin-bottom: 10px;
        padding-bottom: 5px;
        color: #fc0;
        mix-blend-mode: lighten;
    }

    .canvas {
        flex-direction: column;
        min-height: 50%;
        min-width: 30%;
        mix-blend-mode: lighten;

        .entry {
            mix-blend-mode: lighten;
            margin-bottom: 2px;
            padding: 4px 10px;
            padding-top: 8px;
            color: #fff;
            align-items: center;

            label {
                text-shadow: 0px 0px 10px #f70a;
            }

            &.me {
                color: #aa6a00;
                border: 1px solid #aa6a00;
            }
        }
    }
}

.tag {
    border-radius: 5px;

    &.bot, &.host {
        padding: 5px;
        margin-right: 5px;
    }

    &.bot {
        background-color: dodgerblue;
        color: white;
    }

    &.host {
        background-color: green;
        color: wheat;
    }
}

Button {
    background-color: orange;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;

    &.kick {
        background-image: url(ui/kick.png);
    }

    &.ban {
        background-image: url(ui/ban.png);  
    }
}